.CustomCard__TimeLabel {
	color: #009bff;
	background: #ececec;
	height: 1.25rem;
	font-size: 0.875rem;
	padding: 0.3125rem 0 0 0.625rem;
}

.unselectable-image {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
